body {
    margin: 0;
    padding: 0;
    background-color: #111111f3;
    background-image: url("dark brick.jpg");
    background-position: center;
    background-size: auto 100vh;
    background-repeat: repeat;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
    color: white;
    align-items: center;
    justify-content: center;
}
.landing-page{

        text-align: center;
        animation: fadeIn 1.5s ease;
}
.title{
    text-shadow: 0 0 7px red;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #dcd7ff;
}
.subtitle{
    font-size: 1.2rem;
    opacity: 0.8;
    margin-top: -10px;
    margin-bottom: 25px;
    padding-bottom: 40px;
} 
.start-button{
    padding: 12px 28px;
    background-color: #6a42f5;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid ;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 1px;
    box-shadow: 0 0 12px #623cecc2;
}
.start-button:hover{
    background-color: #886dda;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 12px #dcd7ff;
}

#floating-orb1{
    bottom:170px;
    right: -35px;
    width: 180px;
    height: 180px;
}
#floating-orb2{
    top: 50px;
    left: -70px;
    width: 250px;
    height: 250px;
}
.floating-orb{
    border-radius: 50%;
    background: radial-gradient(circle, #8e40ade1 5%, #1e0920 70%, transparent 70%);
    position: absolute;
    opacity: 0.4;
    filter: blur(20px);
    animation: float 4s ease-in-out infinite;
}
@keyframes fadeIn{
    from{ opacity: 0;transform: translateY(20px);}
    to{opacity: 1; transform: translatey(0);}
}
@keyframes float{
    0%,100% {transform: translateX(0) translateY(0);}
    50% {transform: translateX(20px) translateY(-15px);}
}