/* ---- Cards ---- */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.card {
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.15);
    padding: 18px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    transition: 0.4s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #8c3bff;
}

/* ---- Code Block ---- */
.code-block {
    background: #0d0d0f;
    border-left: 4px solid #9a4dff;
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(154,77,255,0.2);
}

.code-block code {
    color: #eaeaea;
    font-family: Consolas, monospace;
    font-size: 14px;
    white-space: pre;
}

/* ---- Output Demo ---- */
.output-demo {
    background: rgba(255,255,255,0.07);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    font-family: Poppins;
    margin-top: 10px;
}

.output-demo h1, 
.output-demo p {
    margin: 5px 0;
    color: #fff;
}

/* ---- Section Titles ---- */
.section-title {
    margin-top: 30px;
    font-size: 22px;
    color: #d8c8ff;
}
/* ---------- GLOBAL ---------- */
body {
    margin:11px;
    pad: 15px;
    font-family: Poppins, sans-serif;
    background: #0a0a0a;
    overflow-x: hidden;
    color: #fff;
}

/* ---------- BACKGROUND ANIMATIONS ---------- */
.bg-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        -45deg,
        #ff00ff,
        #0066ff,
        #00ffcc,
        #5500ff
    );
    background-size: 400% 400%;
    z-index: -1;
    filter: blur(100px);
    animation: glowMove 12s ease infinite;
}

@keyframes glowMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* ---------- TABS CONTAINER ---------- */
.tabs-container {
    width: 85%;
    margin: 80px auto;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

/* Hide default radios */
input[type="radio"] {
    display: none;
}

/* ---------- TAB LABEL BUTTONS ---------- */
.tab-label {
    display: inline-block;
    padding: 12px 22px;
    margin-right: 10px;
    background: rgba(255,255,255,0.07);
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: 0.4s;
}

.tab-label:hover {
    background: rgba(255,255,255,0.12);
    transform: translateY(-3px);
}

/* Active tab styling */
#tab1:checked + .tab-label,
#tab2:checked + .tab-label,
#tab3:checked + .tab-label,
#tab4:checked + .tab-label,
#tab5:checked + .tab-label {
    background: rgba(255,255,2);
}

/* To make the link less obvious*/
.card-link {
    text-decoration:none;
    color: inherit;
    display: block;
}

